      <footer>
         <p>&copy; 2020 Christopher Boyd, CSU Monterey Bay<br> <%= randAddress[0] %><br> <%= randAddress[2] %>, <%= randAddress[3] %> <%= randAddress[4] %></p>
         <p>  </p>
      </footer>
   </body>
</html>
