<%- include('partials/header.ejs') %>

      <main>
         <section>
            <div class="topContent">
               <div class="topItem">
                  <h2>What is Javascript?</h2>
                  <p>Javascript as its name suggests, is a programming language, but it bears no relation to Java. Officially, its name is ECMAScript, and it was conceived as a way to add applications and dynamic functionality to webpages. According to the 2020 Stack Overflow Developer Survey, Javascript continues to be the most popular programming language among its users for the eighth year running. It's no surprise, as Javascript is still the preferred language of the internet, and in recent years has come to be a valuable technology for front-end design and back-end programs with Node.js.</p>
                  <p>What you may come to find is that Javascript isn't always always the most elegant or beloved programming language, but it is one of the most impactful on our modern world. It is a living language, always changing, but at the same time maintains legacy features due to the nature of the web. This can be daunting to some at first, as those who have been confounded by the <a href="https://www.freecodecamp.org/news/var-let-and-const-whats-the-difference/">let vs var nicety</a> can attest. For that reason, this website includes a brief <em>ES6 reference</em>, as this particular standard revision added and changed a great deal.</p>
                  <p>Many programming languages have a unique and storied background, and for those who may be curious as to where Javascript came from, Auth0 has produced a great blog post about it <a href="https://auth0.com/blog/a-brief-history-of-javascript/">here</a>.</p>
               </div>

            </div>
         </section>
         <section>
            <h2>How to Use This Website</h2>
            <p>These pages are intended as a quick reference for those who are studying Javascript and wish to build an understanding of important string and array manipulations. A third section on the important ES6 standard outlines several new language features that any student of Javascript should be aware of.</p>
            <p>To facilitate learning, this website allows you to collapse blocks of content you already know, allowing you to focus on features you don't.</p>
         </section>
         <div class="dline"></div>
         <section>
            <div class="footnotes">
               <h3>Sources</h3>
               <p class="smallText">Stack Overflow Developer Survey: <a href="https://insights.stackoverflow.com/survey/2020">https://insights.stackoverflow.com/survey/2020</a></p>
               <p class="smallText">Auth0, A Brief History of Javascript: <a href="https://auth0.com/blog/a-brief-history-of-javascript/">https://auth0.com/blog/a-brief-history-of-javascript/</a></p>
            </div>

         </section>
      </main>

<%- include('partials/footer.ejs') %>